@import '../../scss/variables';
@import '../../scss/mixins';

.IpTracker {

    &__title {
        text-align: center;
        font-size: 2.6rem;
        line-height: 3rem;
        letter-spacing: -0.23px;
        font-weight: 500;
        color: #FFF;

        @include breakpoint($bp-medium) {
            font-size: 3.2rem;
        }
    }

    &__functionality {
        position: absolute;
        top: 8.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 1;

        @include breakpoint($bp-medium) {
            top: 9.5rem;
        }
    }
}