@import '../../scss/mixins';
@import '../../scss/variables';

.Banner {
    height: 30rem;
    background-color: red;
    background-image: url(../../assets/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3.2rem;
    position: relative;

    @include breakpoint($bp-medium) {
        height: 28rem;
    }
}